{% extends 'base.html.twig' %}

{% block headline %}
    Part list
{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>PartId</th>
                <th>PartName</th>
                <th>Color</th>
                <th>Quantity</th>
                <th>LEGO-Price</th>
                <th>Found in set</th>
                <th>PickABrick-Price</th>
            </tr>
        </thead>
        <tbody>
            {% for part in parts|filter(part => part.pabPrice|default(0) > 0 and (part.pabPrice|default(0) < part.price|default(0) or not part.isAvailable|default(false))) %}
                <tr>
                    <td>{{ part.part.part_num }}</td>
                    <td>{{ part.part.name }}</td>
                    <td style="background-color: #{{ part.color.rgb }};">{{ part.color.name }}</td>
                    <td>{{ part.quantity }}</td>
                    <td>{{ part.price|default(0) ? part.price|number_format(2, ',') : '???' }} {% if not part.isAvailable|default(false) %}(not available){% endif %}</td>
                    <td>{{ part.set|default('') }}</td>
                    <td style="{% if part.pabPrice|default(0) > 0 and (part.pabPrice|default(0) < part.price|default(0) or not part.isAvailable|default(false) ) %}background-color: #afa;{% endif %}">{{ part.pabPrice|default(0) ? part.pabPrice|number_format(2, ',') : '???' }} {% if not part.pabIsAvailable|default(false) %}(not available){% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
